
nav {
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100%;
    z-index: 1000;

}

@media screen and (max-width: 768px) {
    body {
        padding-top: 60px;
    }
}

@media screen and (min-width: 768px) {
    nav {
        position: relative;
    }
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // height: 7vh;
    height: 80px;
}

.nav-brand a{
    text-decoration: none;
    color: #202020;
    letter-spacing: 2px;
    display: inline-block;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.nav-brand a img {
    height: 30px;
}

.nav-brand a:hover{
    color: #5C5C5C;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.nav-list li {
    display: inline-block;
    padding: 10px;
}
.nav-list li a{
    text-decoration: none;
    color: #202020;
    letter-spacing: 2px;
}

.nav-list li a:hover{
    color: #5C5C5C;
}

.burgerToggle {
    display: none;
    position: relative;
}
 

@media screen and (max-width : 768px){
    .burgerToggle {
        display: block;
    }   

    .nav-list{
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
        height: 9vh;
        transform: translateY(-200%);
        transition: transform 0.5s;

    }

    .nav-list li {
        margin: 0px 20px;
        opacity: 0%;
    }

}

.nav-active {
    transform: translateY(0%);
    padding: 10px 10px 15px;

}

.nav-active li{
    opacity: 100%;
    transition: 2s ease;
}

.burgerToggle div {
    background-color: #202020;
    width: 22px;
    height: 2px;
    margin: 4px;
}

.burgerToggle .line{
    transition: 0.5s;
}

.burger-active .line1 {
    transform: rotate(-45deg) translate(-6px, 2px);
}

.burger-active .line2 { 
    opacity: 0;
}

.burger-active .line3 {
    transform: rotate(45deg) translate(-6px, -3px);
}