nav {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  body {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  nav {
    position: relative;
  }
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.nav-brand a {
  text-decoration: none;
  color: #202020;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.nav-brand a img {
  height: 30px;
}

.nav-brand a:hover {
  color: #5C5C5C;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.nav-list li {
  display: inline-block;
  padding: 10px;
}

.nav-list li a {
  text-decoration: none;
  color: #202020;
  letter-spacing: 2px;
}

.nav-list li a:hover {
  color: #5C5C5C;
}

.burgerToggle {
  display: none;
  position: relative;
}

@media screen and (max-width: 768px) {
  .burgerToggle {
    display: block;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 9vh;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .nav-list li {
    margin: 0px 20px;
    opacity: 0%;
  }
}

.nav-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  padding: 10px 10px 15px;
}

.nav-active li {
  opacity: 100%;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.burgerToggle div {
  background-color: #202020;
  width: 22px;
  height: 2px;
  margin: 4px;
}

.burgerToggle .line {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.burger-active .line1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 2px);
          transform: rotate(-45deg) translate(-6px, 2px);
}

.burger-active .line2 {
  opacity: 0;
}

.burger-active .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -3px);
          transform: rotate(45deg) translate(-6px, -3px);
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h5 {
  padding: 10px 15px 10px;
}

h4 {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 15px 10px;
}

p {
  padding: 0 15px 0;
  font-weight: 380;
}

.h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 30px 0px 15px;
  padding: 15px 15px 0px;
  letter-spacing: 2px;
  color: #525151;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.container-flex {
  /* max-width : 1010px; */
  /* margin: 15px auto 15px; */
  padding: 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.textContainer {
  max-width: 1140px;
  margin: auto;
}

.jumbotron {
  /* padding : 84px 32px 120px; */
  background-color: #b5b9a9;
  margin: 0px 0px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  z-index: -2;
}

.jumbotron .container {
  line-height: 600px;
}

.text-wrapper {
  margin: auto;
  padding: 15px;
  line-height: 1.75;
  display: inline-block;
  position: relative;
  top: 35px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    /* padding : 84px 32px 120px; */
    background-color: #b5b9a9;
    margin: 0px 0px 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .jumbotron .container {
    line-height: 900px;
  }
  .text-wrapper {
    margin: auto;
    padding: 15px;
    line-height: 1.75;
    display: inline-block;
    top: 0;
  }
}

.jumbotron p {
  font-size: 18px;
  letter-spacing: 3px;
}

.h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
}

.portfolioCoverImg {
  width: 100%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 15px;
  /* float : left; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.col-6 h4 {
  margin: 15px 15px 5px;
}

.col-6 p {
  margin: 5px 15px 0px;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  margin: 10px 0 15px;
}

.item {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.item .img-wrapper {
  overflow: hidden;
}

.item img {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  width: 100%;
}

.item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.itemAppear {
  opacity: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .item-wrapper {
    position: relative;
  }
  .item3 {
    position: absolute;
    top: 100px;
    left: 15px;
    right: 15px;
  }
}

footer {
  margin-top: 15px;
  padding: 40px;
  background-color: #F1F2EB;
}

footer h4 {
  font-weight: 500;
  color: #705454;
}

footer p {
  font-weight: 300;
  font-size: 145x;
  color: #565151;
}
/*# sourceMappingURL=index.css.map */