body{
    font-family : "Open Sans", sans-serif;
}

h1, h2, h3, h5{
    padding : 10px 15px 10px;
}

h4 {
    font-size : 18px;
    font-weight : 400;
    padding : 10px 15px 10px;
}
p {
    padding : 0 15px 0;
    font-weight : 380;
}
.navBar {
    margin-right : auto;
    background-color: #FFFFFF;
    /* border-bottom : 1px solid #999999; */
}

.container {
    max-width : 1140px;
    margin : auto;
    padding : 0px 15px 0px;
    display : flex;
    flex-wrap: wrap;
}

.textContainer {
    max-width : 1140px;
    margin : auto;
    padding : 10px 15px 10px;
}

nav div {
    text-align : right;
}

nav div ul {
    margin-left : auto;
}

nav div ul li {
    display : inline-block;
}
nav div a {
    margin : 0px 10px 0px; 
    padding : 25px 15px 25px;
    font-size : 16px;
    font-weight: 400;
    text-decoration: none;
    color : #202020;
    display : inline-block;
}

nav div a:hover {
    color : #5C5C5C;
}

.jumbotron {
    padding : 84px 32px 120px;
    line-height: 1.75;
    background-color: #b5b9a9;
}

#Title1 {
    font-size : 30px;
    font-weight: 500;
}

.portfolioCoverImg{
    width : 100%;
}

.col {
    width : 570px;
    padding : 15px;
    /* float : left; */
    box-sizing: border-box;
}

.col h4{
    margin : 15px 15px 5px;
}

.col p{
    margin : 5px 15px 0px;
}

.col-4 {
    width : 380px;
    margin : 10px 0 15px;
    /* float : left; */
}

.clearfix {
    clear : both;
}
footer {
    padding : 40px;
    background-color: #F1F2EB;
}

footer h4 {
    font-weight: 500;
}

footer p {
    font-weight: 300;
    font-size: 14px
}

