@import "nav";

// :root {
//     --containerTransitionTime: 0.3s;
// }

$containerTransitionTime : 0.3s;

body{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h5{
    padding: 10px 15px 10px;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 15px 10px;
}
p {
    padding: 0 15px 0;
    font-weight: 380;
}

.h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0px 15px;
    padding: 15px 15px 0px;
    letter-spacing: 2px;
    color: #525151;
}



.container {
    // width: 100%; 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
      transition : $containerTransitionTime;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
      transition : $containerTransitionTime;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
      transition : $containerTransitionTime;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
      transition : $containerTransitionTime;
    }
  }

.container-flex {
    /* max-width : 1010px; */
    /* margin: 15px auto 15px; */
    padding: 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
}

.textContainer {
    max-width: 1140px;
    margin: auto;
}

.jumbotron {
    /* padding : 84px 32px 120px; */
    background-color: #b5b9a9;
    margin: 0px 0px 15px;
    transition : 0.3s;
    position: relative;
    z-index: -2;
}

.jumbotron .container {
    line-height: 600px;
}

.text-wrapper {
    margin: auto;
    padding: 15px;
    line-height: 1.75;
    display : inline-block;
    position: relative;
    top: 35px;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        /* padding : 84px 32px 120px; */
        // line-height: 900px;
        background-color: #b5b9a9;
        margin: 0px 0px 15px;
        transition : 0.3s;
    }

    .jumbotron .container {
        line-height: 900px;
    }

    .text-wrapper {
        margin: auto;
        padding: 15px;
        line-height: 1.75;
        display : inline-block;
        top: 0;
    }

}

.jumbotron p {
    font-size: 18px;
    letter-spacing: 3px;
}

.h1 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}

.portfolioCoverImg{
    width: 100%;
}

.col-6 {
    flex: 0 0 100%;
    padding: 15px;
    /* float : left; */
    box-sizing: border-box;
}

    @media screen and (min-width: 768px) {
        .col-6 {
            flex: 0 0 50%;
        }
    }

.col-6 h4{
    margin: 15px 15px 5px;
}

.col-6 p{
    margin: 5px 15px 0px;
}

.col-4 {
    flex: 0 0 33.33%;
    margin: 10px 0 15px;
}

.item {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s;

    .img-wrapper {
        border-radius: 25px;
        overflow: hidden;
        z-index: 1;
        position: relative;
    }

    img {
        transition: transform 0.5s;
        width: 100%;
    }

    img:hover {
        transform: scale(1.2);
    }
}

.itemAppear {
    opacity: 100%;
    transform: translateY(0);
}

@media screen and (min-width: 768px){
    .item-wrapper {
        position: relative;
    }
    
    .item3 {
        position: absolute;
        top: 100px;
        left: 15px;
        right: 15px;
    }
}

footer {
    margin-top: 15px;
    padding: 20px;
    background-color: #F1F2EB;
    
    h4 {
        font-size: 18px;
        font-weight: 500;
        color: #705454;
    }

    p {
        font-weight: 300;
        font-size: 16px;
        color: #565151;
    }   

    .copyright {
        margin: 30px auto 5px;
        padding: 15px;
    }

    .copyright p {
        font-size: 12px;
    }
}

