@import "abstracts/variables";
@import "base/reset";
@import "base/typography";
@import "layout/grid";
@import "layout/nav";
@import "layout/footer";
@import "pages/index";
@import "pages/about";
@import "pages/design";

body{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

// h1, h2, h3, h5{
//     padding: 10px 15px 10px;
// }

// h4 {
//     font-size: 18px;
//     font-weight: 400;
//     padding: 10px 15px 10px;
// }
// p {
//     padding: 0 15px 0;
//     font-weight: 380;
// }

.h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0px 15px;
    padding: 15px 15px 0px;
    letter-spacing: 2px;
    color: #525151;
}
