.custom-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  transition: $containerTransitionTime;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 980px;
  }
}
