.footer {
  .wrapper {
    background-color: $primary;
    color: $white;
    padding: 50px;
    padding-bottom: 40px;
    margin-bottom: 50px;

    .contact-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: wrap;
      margin-bottom: 32px;

      .col-md-5:nth-child(1) {
        a {
          color: inherit;
          text-decoration: inherit;
        }

        svg {
          font-size: 40px;
          margin-right: 20px;
        }
      }

      .col-md-7:nth-child(2) {
        .text-wrapper {
          .footer-title {
            font-size: 36px;
            margin-bottom: 25px;
          }
          .footer-desc {
            font-size: 21px;
            font-weight: 500;
            margin-bottom: 0;
            line-height: 1.4;
          }
        }
      }
    }

    .copyright {
      font-size: 21px;
      font-weight: 600;
    }
  }

  @media screen and (max-width: 767.99px) {
    padding: 0px 30px;

    .wrapper {
      padding-top: 60px;
      padding-left: 25px;
      padding-right: 25px;

      .contact-wrapper {
        margin-bottom: 18px;

        .col-md-5:nth-child(1) {
          order: 1;

          svg {
            font-size: 30px;
            margin-right: 12px;
          }
        }

        .col-md-7:nth-child(2) {
          margin-bottom: 36px;

          .text-wrapper {
            .footer-title {
              font-size: 30px;
              margin-bottom: 20px;
            }
            .footer-desc {
              font-size: 18px;
            }
          }
        }
      }

      .copyright {
        font-size: 16px;
      }
    }
  }
}
