.skills {
  position: relative;

  .section-title {
    color: $primary;
    position: absolute;
    top: 35px;
    left: 0;
  }

  .section-block {
    padding: 40px;
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: $oldLace;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-bottom: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

    .skill-wrapper {
      margin-bottom: 45px;
      display: flex;
      justify-content: center;
      align-items: center;

      .text-wrapper {
        width: 170px;

        .skill-title {
          color: $darkBrown;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;
        }

        .skill {
          color: $darkBrown;
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 8px;
        }

        @media screen and (max-width: 767px) {
          width: 150px;

          .skill-title {
            font-size: 21px;
          }

          .skill {
            font-size: 18px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .section-title {
      position: absolute;
      top: 35px;
      left: 30px;
    }

    .section-block {
      width: calc(100% - 15px);
      padding: 20px;
      padding-top: 90px;
    }
  }
}
