.thanks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 550px;

  .text-wrapper {
    flex-basis: 65%;

    .main-title {
      color: $primary;
      margin-bottom: 30px;
    }

    .sub-title {
      color: $secondary;
      font-size: 24px;
      margin-bottom: 50px;
    }

    button {
      padding: 16px 35px;
    }
  }

  .img-wrapper {
    flex-basis: 35%;

    img {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    .text-wrapper {
      flex-basis: 100%;
      order: 1;
    }

    .img-wrapper {
      display: none;
    }
  }
}
