.works {
  position: relative;

  .section-title {
    position: absolute;
    top: 35px;
    left: 0;
  }

  .section-block:nth-child(2) {
    padding-top: 113px;
  }

  .section-block {
    background-color: $background;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-bottom: 35px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    .section-title {
      position: absolute;
      top: 35px;
      left: 30px;
    }

    .section-block {
      width: calc(100% - 15px);
      padding: 20px;
    }
  }
}
