.work {
  margin-bottom: 30px;

  .ratio-wrapper {
    margin-bottom: 6px;
    cursor: pointer;

    &:hover {
      .img-wrapper {
        img {
          transform: scale(1.01) translateY(-5px);
        }
      }
    }
  }

  .img-wrapper {
    width: 335px;
    height: 335px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: 50% 50%;
      height: 100%;
      width: 100%;
      transition: transform 0.5s;
    }
  }

  .text-wrapper {
    display: flex;
    justify-content: space-between;

    .work-title,
    .work-desc {
      font-size: 18px;
      color: $secondary;
    }

    .work-title {
      font-weight: 500;
    }

    .work-desc {
      font-weight: 400;
      text-align: right;
    }
  }

  &.wider {
    .img-wrapper {
      width: 495px;
    }
  }

  @media screen and (max-width: 991px) {
    flex-basis: 48%;

    .ratio-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }

    .img-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &.wider {
      .img-wrapper {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media screen and (max-width: 575px) {
    flex-basis: 100%;

    .ratio-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }

    .img-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &.wider {
      .img-wrapper {
        width: 100%;
        height: 100%;
      }
    }
  }
}
