html, body {
    overflow-x: hidden;
}
footer {
    margin-top: 15px;
    padding: 20px;
    background-color: #252525;
    opacity: 0;
    transform: translateX(100%);

    .contact-item {
        padding: 15px;

        h4 {
            font-size: 0.7rem;
            // font-weight: 500;
            color: #c7c7c7;
        }

        p {
            font-size: 0.8rem;
            font-weight: 300;
            color: #c7c7c7;
      
        }
    }

    .copyright {
        margin-top: 15px;
        padding: 15px 30px;
    }

    .copyright p {

        font-size: 0.8rem;
        font-weight: 300;
        color: #8f8f8f;
        text-decoration: none;
    }
}

.itemAppear {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.7s;
}

a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
 }
