
footer {
    margin-top: 15px;
    padding: 20px;
    background-color: #F1F2EB;
    
    h4 {
        font-size: 18px;
        font-weight: 500;
        color: #705454;
    }

    p {
        font-weight: 300;
        font-size: 16px;
        color: #565151;
    }   

    .contact-item {
        padding: 15px;
    }

    .copyright {
        margin-top: 15px;
        padding: 15px 30px;
    }

    .copyright p {
        font-size: 12px;
        text-decoration: none;
    }
}

a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
 }
