.home {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;

    .overflow-wrapper {
      overflow: hidden;
    }

    .text-wrapper {
      width: 100%;
    }

    &__title {
      color: $primary;
    }

    &__highlighting {
      position: relative;
      display: inline-block;
    }

    &__highlighter {
      position: absolute;
      z-index: -1;
      top: 40px;
      left: 15px;
      width: 100%;
      height: 35px;
      background-color: $highlighted;
      opacity: 0.9;
    }

    &__subtitle {
      font-size: 30px;
      font-weight: 500;
      color: $tinted;
      letter-spacing: 1px;

      &::after {
        content: "";
        width: 5px;
        height: 4px;
        border-right: 3px solid $tinted;
        margin: 8px;
        animation: blink 0.5s step-end infinite;

        @media screen and (max-width: 767.99px) {
          border-right: 2px solid $tinted;
        }

        @keyframes blink {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }

    @media screen and (max-width: 767.99px) {
      height: 350px;

      &__title {
        font-size: 30px;
      }

      &__highlighter {
        top: 20px;
        left: 8px;
        width: 100%;
        height: 18px;
        background-color: $highlighted;
        opacity: 0.9;
      }

      &__subtitle {
        font-size: 18px;
      }
    }
  }

  .works {
    position: relative;

    &__title {
      color: $primary;
      position: absolute;
      top: 35px;
      left: 0;

      @media screen and (max-width: 767.99px) {
        left: 30px;
      }
    }

    &__section-block:nth-child(2) {
      padding-top: 113px;
    }

    &__section-block {
      background-color: $background;
      width: calc(100% - 40px);
      margin-left: auto;
      margin-bottom: 35px;
      padding: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;

      @media screen and (max-width: 767.99px) {
        width: calc(100% - 15px);
        padding: 20px;
      }
    }
  }
}
