.profile {
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 600px;

    @media screen and (max-width: $breakpoint-md) {
      height: 500px;
    }

    .overflow-wrapper {
      overflow: hidden;
    }

    .text-wrapper {
      flex-basis: 60%;

      @media screen and (max-width: 991px) {
        flex-basis: 100%;
      }
    }

    &__title {
      color: $primary;
    }

    &__desc {
      font-size: 24px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: 1px;
      color: $tinted;

      @media screen and (max-width: $breakpoint-md) {
        font-size: 18px;
      }
    }

    &__button {
      margin-top: 20px;
    }

    .img-wrapper {
      flex-basis: 40%;
      padding: 30px;

      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    &__img {
      width: 100%;
    }
  }

  .skills {
    position: relative;

    &__title {
      color: $primary;
      position: absolute;
      top: 35px;
      left: 0;

      @media screen and (max-width: $breakpoint-md) {
        left: 30px;
      }
    }

    .section-block {
      padding: 40px;
      padding-top: 100px;
      padding-bottom: 60px;
      background-color: $oldLace;
      width: calc(100% - 40px);
      margin-left: auto;
      margin-bottom: 35px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;

      @media screen and (max-width: $breakpoint-md) {
        width: calc(100% - 15px);
        padding: 20px;
        padding-top: 90px;
      }
    }

    &__wraapper {
      margin-bottom: 45px;
      display: flex;
      justify-content: center;
      align-items: center;

      .text-wrapper {
        width: 170px;

        @media screen and (max-width: $breakpoint-md) {
          width: 150px;
        }
      }
    }

    &__subtitle {
      color: $darkBrown;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;

      @media screen and (max-width: $breakpoint-md) {
        font-size: 21px;
      }
    }

    &__item {
      color: $darkBrown;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 8px;

      @media screen and (max-width: $breakpoint-md) {
        font-size: 18px;
      }
    }
  }

  .contact {
    position: relative;
    margin-bottom: 50px;

    &__title {
      color: $primary;
      position: absolute;
      top: 35px;
      left: 0;

      @media screen and (max-width: $breakpoint-md) {
        left: 30px;
      }
    }

    .section-block {
      background-color: $oldLace;
      width: calc(100% - 40px);
      margin-left: auto;
      margin-bottom: 35px;
      padding: 40px;
      padding-top: 110px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $breakpoint-md) {
        width: calc(100% - 15px);
        padding: 20px;
        padding-top: 100px;
      }
    }

    &__form {
      width: 100%;
    }

    &__name-field,
    &__email-field,
    &__message-field {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      padding-left: 17px;
      width: 100%;
      margin-bottom: 12px;
      background-color: $white;

      @media screen and (max-width: $breakpoint-md) {
        padding: 8px;
        padding-left: 17px;
      }

      svg {
        font-size: 18px;
        color: $placeholder;
        margin-right: 3px;
      }
    }

    &__message-field {
      margin-bottom: 27px;
    }

    &__icon-comments {
      align-self: start;
      margin-top: 11px;
    }

    &__name-input,
    &__email-input,
    &__message-input {
      width: 100%;
      appearance: none;
      border: none;
      outline: none;
      resize: none;
      font-size: 18px;
      font-weight: 600;
      padding: 8px 17px;
      font-family: "Barlow", "Montserrat", sans-serif;

      &::placeholder {
        color: $placeholder;
      }

      &::selection {
        background: $highlighted;
        color: $white;
      }
    }
  }
}
