.work-page {
  .overflow-wrapper {
    overflow: hidden;
  }

  img {
    width: 100%;
  }

  &__feature-img {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &__content {
    position: relative;
  }

  &__title {
    color: $primary;
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: 0;

    @media screen and (max-width: $breakpoint-md) {
      font-size: 30px;
    }
  }

  .section-block {
    background-color: $background;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-bottom: 35px;
    padding: 40px;
    padding-top: 100px;

    @media screen and (max-width: $breakpoint-md) {
      width: calc(100% - 15px);
      padding: 20px;
      padding-top: 60px;
    }
  }

  &__date {
    color: $primary;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 18px;
  }

  &__overview {
    color: $secondary;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 30px;
  }

  button {
    background-color: $primary;
    min-width: 165px;
    margin-right: 8px;
    margin-bottom: 8px;
  }

  &__para {
    margin-bottom: 50px;
  }

  &__subtitle {
    margin-bottom: 18px;
    color: $primary;
  }

  &__bold {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    color: $primary;
  }

  &__p {
    line-height: 1.5;
    font-weight: 600;
    color: $secondary;
  }

  &__img {
    margin-bottom: 60px;

    &--sm {
      max-width: 400px;
    }
  }

  &__links {
    color: $white;
  }

  &__links--inline {
    color: $tinted;
  }
}
