$containerTransitionTime: 0.3s;
$primary: #202020;
$secondary: #4b4b4b;
$tinted: #747474;
$highlighted: #f5dab1;
$orange: #fa824c;
$oldLace: #f9f4eb;
$placeholder: #dedede;
$background: #fafafa;
$white: #ffffff;
