.jumbotron2 {
    background-color: #FFFFFF;
    margin: 0px 0px 15px;
    transition : 0.3s;
    position: relative;
    z-index: -2;

    .left {
        // background-color: #F1F1F1;
        height: 600px; 

        .textContainer {
            line-height: 600px;
            padding: 0px 40px;
        }

        .text-wrapper {
            margin: auto;
            padding: 15px;
            line-height: 1.75;
            display : inline-block;
            position: relative;
            top: 35px;
        }

        .h1 {
            font-size: 30px;
            font-weight: 500;
            letter-spacing: 3px;
            opacity: 0;
            animation: displayTitle 0.7s ease-in-out 1s forwards;
        }
        
        p {
            font-size: 16px;
            letter-spacing: 3px;
            padding: 0px 15px 0px;
        }

        .p1 {
            opacity: 0;
            animation: displayTitle 0.7s ease-in-out 1.7s forwards;
        }

        .p2 {
            opacity: 0;
            animation: displayTitle 0.7s ease-in-out 2.4s forwards;
        }

        .p3 {
            opacity: 0;
            animation: displayTitle 0.7s ease-in-out 3.2s forwards;
        }
        
    }

    .right {
        display: none;
        transition: all 0.5s;

        background-color: #8E9CA2;
        height: 600px;
        align-items: center;

        .text-wrapper {
            margin: auto;
            padding: 15px;
            line-height: 1.75;
            display : inline-block;

            // position: relative;
            // top: 35px;

            img {
                display: block;
                width: 100%;
            }
        }
    }

    @media screen and (min-width: 768px){
        .left {
            // background-color: #F1F1F1;
            height: 600px;
            z-index: 100;
        
            .textContainer {
                line-height: 600px;
                position: absolute;
                max-width: 720px;
                top: 0;
                bottom: 0;
                left: 50%;                
                margin-left: -360px;

            }

            .text-wrapper {
                max-width: 360px;
                margin: auto;
                padding: 15px;
                line-height: 1.75;
                display : inline-block;
                position: relative;
                top: 35px;
                transition: all 0.5s;

            }
            

        }
        .right {
            display: flex;
            width: 100%;
            // transition: transform 0.5s;
            transform: translateX(100%);
            animation: translateBlock 0.7s ease-in-out 1.7s forwards;

        }
    }
}

@keyframes displayTitle {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes translateBlock {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@media screen and (min-width: 1595px) {
    .jumbotron2 .left .text-wrapper {
        max-width: 450px;
    }
}

.skill-wrapper {
    padding: 30px;
    opacity: 0;
    transform: translateY(50px);

    .skillContainer {
        background-color: #52687E;
        border-radius: 30px;
        color: #FFFFFF;
        padding: 30px 30px 25px;
        max-width: 700px;
    
        .skills {
            text-align: center;
            padding: 15px 15px 15px;
            
            i {
                padding-bottom: 15px;
            }
            h5 {
                min-height: 70px;
                font-size: 18px;

            }
            p {
                padding: 5px;
                font-weight: 380;
            }

            hr {
                margin: 30px 40px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .skill-wrapper .skillContainer {
        padding: 60px 60px 25px;

        hr {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .skill-wrapper {
        position: absolute;
        top: 600px;
        left: 0;
        right: 0;
        transition: all 0.5s;
    }

    .blank-div {
        display: block;
        height: 425px;
        transition: all 0.5s;
    }
}

@media screen and (min-width: 1595px) {
    .skill-wrapper {
        position: absolute;
        top: 550px;
        left: 0;
        right: 0;
        transition: all 0.5s;
    }

    .blank-div {
        display: block;
        height: 380px;
        transition: all 0.5s;
    }
}

.form-wrapper {
    padding: 30px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s;

    .form {
        background-color: #3E3C3C;
        border-radius: 30px;
        color: #ffffff;
        padding: 60px;
        max-width: 700px;
        

        .field-wrapper {
            padding: 0px 30px;

            .field {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                width: 100%;
                background-color: #FFFFFF;
                border-radius: 8px;
                margin: 30px 0px;
                padding: 0px 15px;

                i {
                    // -webkit-text-stroke: 0.5px #434343;
                    color: #434343;
                }
    
                input {
                    font-family: "Open Sans", sans-serif;
                    display: block;
                    background: none;
                    border: none;
                    outline: none;
                    // background-color: #FFFFFF;
                    // border-radius: 8px;
                    width: 100%;
                    height: 40px;
                    padding: 0px 15px;
                    color: #434343;
                    font-size: 15px;
                }
    
                textarea{
                    font-family: "Open Sans", sans-serif;
                    display: block;
                    background: none;
                    border: none;
                    outline: none;
                    background-color: #FFFFFF;
                    border-radius: 8px;
                    width: 100%;
                    height: 80px;
                    padding: 10px 15px;
                    color: #434343;
                    font-size: 15px;
                    
                }
            }

            .field-message {
                align-items: flex-start;
                
                i {
                    padding-top: 14px;
                }
            }

            .submitBtn {
                background-color: #55A0EA;
                border: none;
                border-radius: 13px;
                outline: none;
                padding: 10px 20px;
                color: #FFFFFF;
                font-size: 16px;
            }

            .submitBtn:hover {
                background-color: #4c90d2;                ;
                transition: all 0.5s;
            }
        }
    }
    
}

.itemAppear {
    opacity: 100%;
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    .skill-wrapper #skills {
        padding: 15px;
    }
    .form-wrapper .form {
        padding: 15px;

        .field-wrapper {
            padding-bottom: 15px;
        }
    }

}