.jumbotron1 {
    // background-color: #b5b9a9;
    margin: 0px 0px 15px;
    transition : 0.3s;
    position: relative;
    z-index: -2;

    .container {
        line-height: 600px;
        padding: 0px 80px;
    }   

    .text-wrapper {
        margin: auto;
        padding: 15px;
        line-height: 1.75;
        display : inline-block;
        position: relative;
        top: 35px;
    }

    .h1 {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 3px;
        opacity: 0;
        animation: displayTitle 0.7s ease-in-out 1s forwards;
    }
    
    p {
        display: inline;
        font-size: 18px;
        letter-spacing: 3px;
        padding: 10px 15px 10px;
        padding-right: 0px;
        opacity: 0;
        animation: displayTitle 0.7s ease-in-out 1.7s forwards;
    }

    .typing {
        display: inline;
        font-size: 18px;
        letter-spacing: 3px;
        padding: 10px 15px 10px;
        padding-left: 0px;
        opacity: 0;
        animation: displayTitle 0.7s ease-in-out 1.7s forwards;
    }

    .typing::after {
        content: "";
        width: 5px;
        height: 4px;
        border-right: 2px solid #202020;
        margin: 5px;
        animation: blink 1s step-end infinite;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes displayTitle {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (min-width: 768px) {
    .jumbotron1 {
        /* padding : 84px 32px 120px; */
        // line-height: 900px;
        // background-color: #b5b9a9;
        margin: 0px 0px 15px;
        transition : 0.3s;

        .container {
        line-height: 900px;
        }

        .text-wrapper {
        margin: auto;
        padding: 15px;
        line-height: 1.75;
        display : inline-block;
        top: 0;
        }
    }
}

.designTitle {
    opacity: 0;
    transform: translateY(50px);
}

.item {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s;
    margin: 30px 0px;
    padding: 0px 15px;

    .img-wrapper {
        border-radius: 25px;
        overflow: hidden;
        z-index: 1;
        position: relative;
    }

    img {
        transition: transform 0.5s;
        width: 100%;
    }

    img:hover {
        transform: scale(1.2);
    }

    h5{
        font-weight: 400;
        color: #303030;
        margin: 15px 0px 5px;
    }

    p{
        color: #646464;
        // margin: 5px 15px 15px;
        // padding: 0px 15px;;
    }
}

.itemAppear {
    opacity: 100%;
    transform: translateY(0);
}

@media screen and (min-width: 768px){
    .item-wrapper {
        position: relative;
    }
    
    .item3 {
        position: absolute;
        top: 100px;
        left: 15px;
        right: 15px;
    }
}